    img {margin:4px; padding:2px; border:1px dashed #e0e0e0}
    p {padding-top:0.5em; padding-bottom:0.5em}
    h1 a {display:none}
    .footer {color:rgba(0,0,0,0) !important; font-size:0px}
    .footer a {color:rgba(0,0,0,0) !important; font-size:0px}
    .footer #text {display:none !important; font-size:0px}
    .footer a {display:none !important; font-size:0px}
